<div [formGroup]="form" class="dialog-content">
  <div class="delete-item-dialog-title">
    <div class="dialog-title">
      {{title}}
    </div>
    <div class="empty-div"></div>
    <div class="close-button">
      <button mat-icon-button mat-dialog-close class="dialog-close-button">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <div class="form-padding form-content">
      <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="form-row form-margin" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': theatreControl.hasError('required')}">Theatre</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <mat-select formControlName="theatre"
                          *ngIf="this.theatre">
                <mat-option [value]="theatre">
                  {{theatre.name}}, {{theatre.location}}
                </mat-option>
              </mat-select>
              <mat-select formControlName="theatre"
                          *ngIf="!this.theatre"
                          (selectionChange)="getVenuesByTheatreId()"
                          [compareWith]="compareTheatreOptions">
                <mat-option *ngFor="let theatre of theatres" [value]="theatre">
                  {{theatre.name}}, {{theatre.location}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="theatreControl.touched && theatreControl.hasError('required')" class="error">
              Theatre is required!
            </div>
          </div>
        </div>

        <div class="form-row" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': venueNumberControl.hasError('required')}">Venue number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" (ngModelChange)="findVenue()" formControlName="venueNumber">
            </mat-form-field>
            <div
              *ngIf="venueNumberControl.touched && venueNumberControl.hasError('required')" class="error">
              Venue number is required!
            </div>
            <div
              *ngIf="venueNumberControl.touched && !venueNumberControl.hasError('required') && venueNumberValue() <= 0" class="error error-number">
              Venue number must be a positive number!
            </div>
            <div
              *ngIf="venueNumberControl.touched && !venueNumberControl.hasError('required') && venueNumberValue() > 0 && !checkIfVenueNumberInteger()" class="error error-number">
              Venue number must be an integer number!
            </div>
            <div
              *ngIf="venueNumberControl.touched && !venueNumberControl.hasError('required') && venueNumberValue() > 0 && checkIfVenueNumberInteger() && this.venueExists" class="error error-number">
              Venue already exists!
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="form-row form-margin" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': rowsNumberControl.hasError('required')}">Rows number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="rowsNumber">
            </mat-form-field>
            <div
              *ngIf="rowsNumberControl.touched && rowsNumberControl.hasError('required')" class="error">
              Rows number is required!
            </div>
            <div
              *ngIf="rowsNumberControl.touched && !rowsNumberControl.hasError('required') && rowsNumberValue() <= 0" class="error error-number">
              Rows number must be a positive number!
            </div>
            <div
              *ngIf="rowsNumberControl.touched && !rowsNumberControl.hasError('required') && rowsNumberValue() > 0 && !checkIfRowsNumberInteger()" class="error error-number">
              Rows number must be an integer number!
            </div>
          </div>
        </div>

        <div class="form-row" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': columnsNumberControl.hasError('required')}">Columns number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="columnsNumber">
            </mat-form-field>
            <div
              *ngIf="columnsNumberControl.touched && columnsNumberControl.hasError('required')" class="error">
              Columns number is required!
            </div>
            <div
              *ngIf="columnsNumberControl.touched && !columnsNumberControl.hasError('required') && columnsNumberValue() <= 0" class="error error-number">
              Columns number must be a positive number!
            </div>
            <div
              *ngIf="columnsNumberControl.touched && !columnsNumberControl.hasError('required') && columnsNumberValue() > 0 && !checkIfColumnsNumberInteger()" class="error error-number">
              Columns number must be an integer number!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div mat-dialog-actions align="end" class="close-actions">
      <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
      <button mat-raised-button type="submit" [disabled]="!form.valid || checkIfSameData()" (click)="saveVenue()" class="save-user-button">Save</button>
    </div>
  </div>
</div>
