<div [formGroup]="form" class="dialog-content">
  <div class="delete-item-dialog-title">
    <div class="dialog-title">
      {{title}}
    </div>
    <div class="empty-div"></div>
    <div class="close-button">
      <button mat-icon-button mat-dialog-close class="dialog-close-button">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <div class="form-padding form-content">
      <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="form-row form-margin" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': theatreControl.hasError('required')}">Theatre</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <mat-select formControlName="theatre" [compareWith]="compareTheatreOptions">
                <mat-option *ngFor="let theatre of theatres" [value]="theatre">
                  {{theatre.name}}, {{theatre.location}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="theatreControl.touched && theatreControl.hasError('required')" class="error">
              Theatre is required!
            </div>
            <!--<div
              *ngIf="!locationControl.valid &&
              theatreControl.touched && theatreControl.hasError('required')" class="error error-width">
              Please select location first!
            </div>-->
          </div>
          <!--<div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': locationControl.hasError('required')}">Location</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <mat-select (selectionChange)="getAllTheatresByEvent()" formControlName="location">
                <mat-option *ngFor="let location of locations" [value]="location">{{
                  location
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="locationControl.touched && locationControl.hasError('required')" class="error">
              Location is required!
            </div>
          </div>-->
        </div>

        <div class="form-row" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': venueNumberControl.hasError('required')}">Venue number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="venueNumber">
            </mat-form-field>
            <div
              *ngIf="venueNumberControl.touched && venueNumberControl.hasError('required')" class="error">
              Venue number is required!
            </div>
            <div
              *ngIf="venueNumberControl.touched && !venueNumberControl.hasError('required') && venueNumberValue() <= 0" class="error error-number">
              Venue number must be a positive number!
            </div>
            <div
              *ngIf="venueNumberControl.touched && !venueNumberControl.hasError('required') && venueNumberValue() > 0 && !checkIfVenueNumberInteger()" class="error error-number">
              Venue number must be an integer number!
            </div>
          </div>

         <!-- <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': theatreControl.hasError('required')}">Theatre</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <mat-select formControlName="theatre" (selectionChange)="getSelectedTheatreByEvent()" [compareWith]="compareTheatreOptions">
                <mat-option *ngFor="let theatre of theatres" [value]="theatre">{{
                  theatre.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="locationControl.valid && theatreControl.touched && theatreControl.hasError('required')" class="error">
              Theatre is required!
            </div>
            <div
              *ngIf="!locationControl.valid &&
              theatreControl.touched && theatreControl.hasError('required')" class="error error-width">
              Please select location first!
            </div>
          </div>-->
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="form-row form-margin" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': rowsNumberControl.hasError('required')}">Rows number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="rowsNumber">
            </mat-form-field>
            <div
              *ngIf="rowsNumberControl.touched && rowsNumberControl.hasError('required')" class="error">
              Rows number is required!
            </div>
            <div
              *ngIf="rowsNumberControl.touched && !rowsNumberControl.hasError('required') && rowsNumberValue() <= 0" class="error error-number">
              Rows number must be a positive number!
            </div>
            <div
              *ngIf="rowsNumberControl.touched && !rowsNumberControl.hasError('required') && rowsNumberValue() > 0 && !checkIfRowsNumberInteger()" class="error error-number">
              Rows number must be an integer number!
            </div>
          <!--<div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': dayControl.hasError('required')}">Day</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput formControlName="day" [matDatepickerFilter]="myFilter" (dateChange)="getAllMoviesByEvent($event)" [matDatepicker]="daypicker"/>
              <mat-datepicker-toggle matSuffix [for]="daypicker"></mat-datepicker-toggle>
              <mat-datepicker #daypicker></mat-datepicker>
            </mat-form-field>
            <div
              *ngIf="theatreControl.valid && dayControl.touched && dayControl.hasError('required')" class="error">
              Day is required!
            </div>
            <div
              *ngIf="!theatreControl.valid &&
              dayControl.touched && dayControl.hasError('required')" class="error error-width">
              Please select theatre first!
            </div>-->
          </div>
        </div>

        <div class="form-row" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': columnsNumberControl.hasError('required')}">Columns number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="columnsNumber">
            </mat-form-field>
            <div
              *ngIf="columnsNumberControl.touched && columnsNumberControl.hasError('required')" class="error">
              Columns number is required!
            </div>
            <div
              *ngIf="columnsNumberControl.touched && !columnsNumberControl.hasError('required') && columnsNumberValue() <= 0" class="error error-number">
              Columns number must be a positive number!
            </div>
            <div
              *ngIf="columnsNumberControl.touched && !columnsNumberControl.hasError('required') && columnsNumberValue() > 0 && !checkIfColumnsNumberInteger()" class="error error-number">
              Columns number must be an integer number!
            </div>
          </div>
          <!--<div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': movieControl.hasError('required')}">Movie</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <mat-select formControlName="movie" (selectionChange)="getAllTimesByMovie($event)" [compareWith]="compareMovieOptions">
                <mat-option *ngFor="let movie of movies" [value]="movie">{{
                  movie?.name
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="movies?.length && dayControl.valid && movieControl.touched && movieControl.hasError('required')" class="error">
              Movie is required!
            </div>
            <div
              *ngIf="!dayControl.valid &&
              movieControl.touched && movieControl.hasError('required')" class="error error-width">
              Please select day first!
            </div>
            <div
              *ngIf="!movies?.length && dayControl.valid && movieControl.touched && movieControl.hasError('required')" class="error error-width">
              No movies for selected day!
            </div>
          </div>-->
        </div>
      </div>
    </div>

    <!--<div class="form-padding form-content">
      <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="form-row form-margin" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': timeControl.hasError('required')}">Time</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <mat-select formControlName="time">
                <mat-option *ngFor="let time of times" [value]="time">{{
                  time
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="movieControl.valid && timeControl.touched && timeControl.hasError('required')" class="error">
              Time is required!
            </div>
            <div
              *ngIf="!movieControl.valid && timeControl.touched && timeControl.hasError('required')" class="error">
              Please select movie first!
            </div>
          </div>
        </div>

        <div class="form-row" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': venueNumberControl.hasError('required')}">Venue number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="venueNumber">
            </mat-form-field>
            <div
              *ngIf="venueNumberControl.touched && venueNumberControl.hasError('required')" class="error">
              Venue number is required!
            </div>
            <div
              *ngIf="venueNumberControl.touched && !venueNumberControl.hasError('required') && venueNumberValue() <= 0" class="error error-number">
              Venue number must be a positive number!
            </div>
            <div
              *ngIf="venueNumberControl.touched && !venueNumberControl.hasError('required') && venueNumberValue() > 0 && !checkIfVenueNumberInteger()" class="error error-number">
              Venue number must be an integer number!
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="form-row form-margin" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': rowsNumberControl.hasError('required')}">Rows number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="rowsNumber">
            </mat-form-field>
            <div
              *ngIf="rowsNumberControl.touched && rowsNumberControl.hasError('required')" class="error">
              Rows number is required!
            </div>
            <div
              *ngIf="rowsNumberControl.touched && !rowsNumberControl.hasError('required') && rowsNumberValue() <= 0" class="error error-number">
              Rows number must be a positive number!
            </div>
            <div
              *ngIf="rowsNumberControl.touched && !rowsNumberControl.hasError('required') && rowsNumberValue() > 0 && !checkIfRowsNumberInteger()" class="error error-number">
              Rows number must be an integer number!
            </div>
          </div>
        </div>

        <div class="form-row" fxFlex>
          <div class="name-label-padding">
            <label class="name-label" [ngClass]="{'asterisk': columnsNumberControl.hasError('required')}">Columns number</label>
          </div>
          <div>
            <mat-form-field appearance="outline" class="mat-form">
              <input matInput type="number" formControlName="columnsNumber">
            </mat-form-field>
            <div
              *ngIf="columnsNumberControl.touched && columnsNumberControl.hasError('required')" class="error">
              Columns number is required!
            </div>
            <div
              *ngIf="columnsNumberControl.touched && !columnsNumberControl.hasError('required') && columnsNumberValue() <= 0" class="error error-number">
              Columns number must be a positive number!
            </div>
            <div
              *ngIf="columnsNumberControl.touched && !columnsNumberControl.hasError('required') && columnsNumberValue() > 0 && !checkIfColumnsNumberInteger()" class="error error-number">
              Columns number must be an integer number!
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <div mat-dialog-actions align="end" class="close-actions">
      <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
      <button mat-raised-button type="submit" [disabled]="!form.valid || checkIfSameData()" (click)="saveVenue()" class="save-user-button">Save</button>
    </div>
  </div>
</div>
