<div [formGroup]="form">
  <h1 mat-dialog-title class="dialog-title">Forgot Password</h1>

  <h2 mat-dialog-title class="dialog-subtitle">Enter your e-mail address and we'll send you a link to reset your password</h2>

  <div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input matInput placeholder="Email Address" formControlName="email">
        </mat-form-field>
        <div
          *ngIf="usernameControl.touched && usernameControl.hasError('required')" class="error">
          Username is required!
        </div>
        <div
          *ngIf="usernameControl.touched && !usernameControl.hasError('required')
           && usernameControl.hasError('pattern')" class="error">
          Please insert a valid email!
        </div>
      </div>
    </div>

    <div class="content">
      <button mat-raised-button class="submit-button" [disabled]="!form.valid" (click)="sendForgotPasswordEmail()">Submit</button>
    </div>
    <div *ngIf="form.valid && !this.user && this.emailExists" class="error1">
      Email doesn't exist!
    </div>
    <div *ngIf="form.valid && this.user && this.emailExists" class="success1">
      Reset password email successfully sent!
    </div>
    <div class="content">
      <label class="register-option">Back to <a routerLink="login" class="register-color" (click)="openLoginDialog()">Login</a></label>
    </div>

  </div>
</div>

