<div [formGroup]="form" class="dialog-content">
  <div class="delete-item-dialog-title">
    <div class="dialog-title">
      {{title}}
    </div>
    <div class="empty-div"></div>
    <div class="close-button">
      <button mat-icon-button mat-dialog-close class="dialog-close-button">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <div class="content">

      <div>
        <div class="name-label-padding">
          <label class="name-label" [ngClass]="{'asterisk': nrTicketsControl.hasError('required')}">Number of tickets</label>
        </div>
        <div>
          <mat-form-field appearance="outline" class="mat-form">
            <input matInput type="number" formControlName="nrTickets">
          </mat-form-field>
          <div
            *ngIf="nrTicketsControl.touched && nrTicketsControl.hasError('required')" class="error">
            Number of tickets is required!
          </div>
          <div
            *ngIf="nrTicketsControl.touched && !nrTicketsControl.hasError('required') && nrTicketsValue() <= 0" class="error">
            Number of tickets must be a positive number!
          </div>
          <div
            *ngIf="nrTicketsControl.touched && !nrTicketsControl.hasError('required') && nrTicketsValue() > 0 && !checkIfNrTicketsInteger()" class="error">
            Number of tickets must be an integer number!
          </div>
        </div>
      </div>

      <div>
        <div class="name-label-padding">
          <label class="name-label" [ngClass]="{'asterisk': reductionControl.hasError('required')}">Reduction applied on tickets(%)</label>
        </div>
        <div>
          <mat-form-field appearance="outline" class="mat-form">
            <input matInput type="number" formControlName="reduction">
          </mat-form-field>
          <div
            *ngIf="reductionControl.touched && reductionControl.hasError('required')" class="error">
            Reduction is required!
          </div>
          <div
            *ngIf="reductionControl.touched && !reductionControl.hasError('required') && (reductionValue() < 1 || reductionValue() > 99)" class="error">
            Reduction must be a positive number between 1 and 99!
          </div>
          <div
            *ngIf="reductionControl.touched && !reductionControl.hasError('required') && (reductionValue() >= 1 && reductionValue() <= 99) && !checkIfReductionInteger()" class="error">
            Reduction must be an integer number!
          </div>
        </div>
      </div>

    </div>

    <div mat-dialog-actions align="end" class="close-actions">
      <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
      <button mat-raised-button type="submit" [disabled]="!form.valid || checkIfSameData()" (click)="savePromotion()" class="save-user-button">Save</button>
    </div>
  </div>
</div>
