<div [formGroup]="form">
  <h1 mat-dialog-title class="dialog-title">Reset password</h1>

  <div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input matInput [type]="hide ? 'password' : 'text' " placeholder="Password" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          *ngIf="passwordControl.touched && passwordControl.hasError('required')" class="error">
          Password is required!
        </div>
        <div
          *ngIf="passwordControl.touched && !passwordControl.hasError('required')
           && passwordControl.hasError('pattern')" class="error">
          Password should have at least one uppercase letter, one lowercase letter, one digit,
          one special character, and a minimum of 8 characters long!
        </div>
      </div>
    </div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input matInput [type]="hideRe ? 'password' : 'text' " placeholder="Confirm" formControlName="rePassword">
          <button mat-icon-button matSuffix (click)="hideRe = !hideRe">
            <mat-icon>{{hideRe ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          *ngIf="rePasswordControl.touched && rePasswordControl.hasError('required')" class="error">
          Password is required!
        </div>
        <div
          *ngIf="rePasswordControl.touched && !rePasswordControl.hasError('required')
           && rePasswordControl.hasError('pattern')" class="error">
          Password should have at least one uppercase letter, one lowercase letter, one digit,
          one special character, and a minimum of 8 characters long!
        </div>
        <div
          *ngIf="rePasswordControl.touched && !rePasswordControl.hasError('required') && !rePasswordControl.hasError('pattern')
          &&  rePasswordControlLength() >= 5 && passwordControl.value !== rePasswordControl.value" class="error">
          Password is not the same!
        </div>
      </div>
    </div>

    <div class="content content-padding">
      <button mat-raised-button [disabled]="!form.valid || rePasswordControlLength() < 5 || rePasswordControlLength() < 5
                                     || passwordControl.value !== rePasswordControl.value" class="submit-button" (click)="resetPassword()"
              >Save</button>
    </div>
    <div *ngIf="this.reset" class="success1">
      Password was successfully changed!
    </div>
    <div *ngIf="this.reset" class="success1">
      Now you can close this tab.
    </div>

  </div>
</div>

