<div class="page-content">
  <mat-card class="movie-details-card">
    <div class="header-align">
      <div class="title">
        <button mat-icon-button class="arrow-color"
                [matTooltip]="'Back to program page'"
                matTooltipPosition="above"
                (click)="navigateBackToProgramPage()">
          <mat-icon>
            {{'chevron_left'}}
          </mat-icon>
        </button>
        <label class="title-style">
          Tickets
        </label>
      </div>

      <div class="discounts-align">
        <div>
          <label *ngIf="getTicketsDiscountsLength()">
            {{getTicketsDiscounts()}}
          </label>
        </div>
        <div>
          <label *ngIf="getProductsDiscountsLength()">
            {{getProductsDiscounts()}}
          </label>
        </div>
      </div>

      <div class="empty-div"></div>
    </div>

    <div class="header-section">
      <div class="left-header-content">
        <div class="movie-details">
          <label class="movie-name">
            {{showTiming?.movie?.name}}
          </label>
          <label class="movie-age">
            {{showTiming?.movie?.recommendedAge}}
          </label>
        </div>

        <div class="day-style">
          <b><label class="day-1">{{showTiming?.day | date:'dd'}} </label></b>
          <label class="day-2">{{showTiming?.day | date:'LLL' | uppercase}} </label>
          <b><label class="day-3">{{showTiming?.day| date:'yyyy'}}</label></b>
        </div>

        <div class="day-of-week">
          <label class="day-of-week-style">
            {{dayOfWeek}} {{showTiming?.time}}
          </label>
        </div>

        <div class="theatre-and-venue">
          <div>
            <label class="theatre-style">
              {{showTiming?.theatre?.name}}
            </label>
          </div>
          <div>
            <label class="venue-style">
              Venue {{showTiming?.venue?.venueNumber}}
            </label>
          </div>
        </div>

        <div class="nr-total">
          <label class="nr-tickets">
            Total number of selected tickets: {{nrTotal}}
          </label>
        </div>
        <div class="price-total">
          <label class="nr-tickets" *ngIf="getReductionForTickets()">
            Total price of selected tickets: {{this.getTotalPrice() - (getReductionForTickets() / 100) * this.getTotalPrice()}} RON({{getReductionForTickets()}}% discount)
          </label>
          <label class="nr-tickets" *ngIf="!getReductionForTickets()">
            Total price of selected tickets: {{getTotalPrice()}} RON
          </label>
        </div>
      </div>

      <div class="poster-div">
        <img *ngIf="showTiming?.movie?.poster"
             [src]="getImageUrl(showTiming?.movie?.poster)"
             class="movie-poster"
             alt="Poster"/>
      </div>

      <div [formGroup]="form" class="right-header-content">
        <div class="form-margins">
          <div class="name-label-padding">
            <label class="name-label">Adult tickets({{this.peoplePromotion ? this.peoplePromotion.adult : showTiming?.price}} RON)</label>
          </div>
          <mat-form-field appearance="outline" class="mat-form">
            <mat-select
              [placeholder]="'Select number of adult tickets'"
              (selectionChange)="getNumberOfAdultTicketsByEvent($event)"
              formControlName="adult"
              class="form-input"
            >
              <mat-option *ngFor="let number of numbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-margins-1">
          <div class="name-label-padding">
            <label class="name-label">Student tickets({{this.peoplePromotion ? this.peoplePromotion.student : showTiming?.price}} RON)</label>
          </div>
          <mat-form-field appearance="outline" class="mat-form">
            <mat-select
              [placeholder]="'Select number of student tickets'"
              (selectionChange)="getNumberOfStudentTicketsByEvent($event)"
              formControlName="student"
              class="form-input"
            >
              <mat-option *ngFor="let number of numbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-margins-1">
          <div class="name-label-padding">
            <label class="name-label">Child tickets({{this.peoplePromotion ? this.peoplePromotion.child : showTiming?.price}} RON)</label>
          </div>
          <mat-form-field appearance="outline" class="mat-form">
            <mat-select
              [placeholder]="'Select number of child tickets'"
              (selectionChange)="getNumberOfChildTicketsByEvent($event)"
              formControlName="child"
              class="form-input"
            >
              <mat-option *ngFor="let number of numbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="filter-card">
    <div [formGroup]="form1" class="header-style">
      <div class="products-title">
        <label class="products-title-style">
          Products
        </label>
      </div>

      <mat-form-field appearance="outline" class="filter-product-form product">
        <mat-select
          [placeholder]="'Select type of product..'"
          (selectionChange)="getCategoryByEvent($event)"
          formControlName="types"
          class="form-input"
        >
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="search-box">
        <span class="fa fa-search"><mat-icon>search</mat-icon></span>
        <input (keyup)="getAllProducts()"
               [(ngModel)]="searchString"
               matInput
               [ngModelOptions]="{standalone: true}"
               placeholder="Search...">
        <span  class="fa fa-search-close" (click)="searchString = '';getAllProducts()"><mat-icon>close</mat-icon></span>
      </div>
    </div>

    <div>
      <div class="products-display">
        <div *ngFor="let product of products">
          <mat-card class="product-card">
            <div class="product-details">
              <div>
                <img *ngIf="product.image"
                     [src]="getImageUrl(product.image)"
                     class="product-poster"
                     alt="Poster"/>
              </div>
              <div class="main-details">
                <div class="product-name">
                  <label class="product-name-label">
                    {{product.name}}
                  </label>
                  <button
                    mat-icon-button
                    [matTooltip]="'Remove product'"
                    aria-label="Choose"
                    matTooltipPosition="above"
                    (click)="decrementCountOfProduct(product)"
                  >
                    <mat-icon class="product-button">
                      remove
                    </mat-icon>
                  </button>
                  <label class="count-style">
                    {{getCounts(product)}}
                  </label>
                  <button
                    mat-icon-button
                    [matTooltip]="'Add product'"
                    aria-label="Choose"
                    matTooltipPosition="above"
                    (click)="incrementCountOfProduct(product)"
                  >
                    <mat-icon class="product-button">
                      add
                    </mat-icon>
                  </button>
                </div>
                <div class="product-price">
                  Price: {{product.price}} RON
                </div>
                <div class="product-quantity">
                  Quantity: {{product.quantity}}g
                </div>
                <div class="product-number">
                  Number: {{product.number}}
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="empty-space"></div>
    </div>
    <div class="display-products-footer">
      <div class="display-numbers">
        <div class="total-count">
          <label class="total-count-style">
            Total number of selected products is: {{calculateSumOfProducts()}}
          </label>
        </div>
        <div class="total-price">
          <label class="total-price-style" *ngIf="getReductionForProducts()">
            Price of all selected products is: {{calculatePriceOfProducts() - (getReductionForProducts() / 100) * calculatePriceOfProducts()}} RON({{getReductionForProducts()}}% discount)
          </label>
          <label class="total-price-style" *ngIf="!getReductionForProducts()">
            Price of all selected products is: {{calculatePriceOfProducts()}} RON
          </label>
        </div>
      </div>
      <div class="empty-div"></div>
      <div class="products-buttons">
        <div class="reserve-form">
          <label class="product-button-style">Reserve</label>
          <mat-checkbox [(ngModel)]="checkbox1Selected" (change)="checkboxChanged(1, $event)"></mat-checkbox>
        </div>
        <div>
          <label class="product-button-style">Buy</label>
          <mat-checkbox [(ngModel)]="checkbox2Selected" (change)="checkboxChanged(2, $event)"></mat-checkbox>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="seats-card">
    <div class="seats-title">
      <label class="seats-title-style">
        Seats
      </label>
    </div>
    <div class="info-display">
      <label class="green-seat-style"></label>
      <label class="green-seat-label">
        Seat available
      </label>
      <label class="red-seat-style"></label>
      <label class="red-seat-label">
        Already booked
      </label>
      <label class="yellow-seat-style"></label>
      <label class="yellow-seat-label">
        Seat selected
      </label>
    </div>
    <div class="seat-display">
      <div class="seats-width">
        <label class="screen-style">
          Screen
        </label>
      </div>
    </div>
    <div class="seat-display border-style">
      <div class="seats-width">
        <div *ngFor="let row of this.array1; let i = index">
          <div class="row-display">
            <div class="index-style-left">
              <label class="index-style">
                {{row}}
              </label>
            </div>
            <div class="row-seats">
              <div *ngFor="let column of this.array2; let j = index">
                <button mat-raised-button
                        [disabled]="isSeatBooked(i, j)"
                        [style.color]="!isSeatBooked(i, j) ? originalColor[i * this.showTiming?.venue?.columnsNumber! + j] : 'white'"
                        [style.background-color]="!isSeatBooked(i, j) ? originalBackgroundColor[i * this.showTiming?.venue?.columnsNumber! + j] : 'red'"
                        (click)="toggleBackgroundColor(i, j)"
                        class="seat-style" >
                  {{column}}
                </button>
              </div>
            </div>
            <div class="index-style-right">
              <label class="index-style">
                {{row}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <div class="bottom-section-content">
        <div class="selected-seats">
          <label class="seats-selected-style">
            Selected seats:
          </label>
          <label class="nr-selected-style"  [ngClass]="{'green-number': !buttonDisabled(), 'red-number': buttonDisabled()}">
            {{this.selectedSeats.length}}
          </label>
        </div>
        <div class="empty-div"></div>
        <div class="actions-section">
          <button mat-button class="reserve-ticket" [disabled]="buttonDisabled()" (click)="openReservationDialog()">Reservation</button>
          <button mat-raised-button class="buy-ticket" [disabled]="buttonDisabled()" (click)="openBuyTicketsDialog()">Buy tickets</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
