<mat-card class="filter-card">
  <div class="line-style">
    <div class="header-style">
      <div class="title-and-filter-icon">
        <label class="title-style">
          Users
        </label>

        <mat-icon mat-list-icon class="filter-list">
          filter_list
          <div class="notification-bubble" [ngClass]="{notification: filterActive()}">
          </div>
        </mat-icon>
      </div>

      <div class="search-box">
        <span class="fa fa-search"><mat-icon>search</mat-icon></span>
        <input (keyup)="getAllUsers()"
               [(ngModel)]="searchString"
               matInput
               placeholder="Search...">
        <span *ngIf="searchString" class="fa fa-search-close" (click)="searchString = '';getAllUsers()"><mat-icon>close</mat-icon></span>
      </div>
    </div>
  </div>

  <div class="filters-row">
    <div class="filters" fxFlex="80">
      <div class="forms-display">
        <div>
          <div class="input-label">Name</div>
          <mat-form-field appearance="outline" class="filter-form">
            <input matInput [(ngModel)]="filters.name" [ngModelOptions]="{updateOn:'change'}"
                   (ngModelChange)="getAllUsers()" class="form-input">
          </mat-form-field>
        </div>

        <div>
          <div class="input-label">Email</div>
          <mat-form-field appearance="outline" class="filter-form">
            <input matInput [(ngModel)]="filters.email" [ngModelOptions]="{updateOn:'change'}"
                   (ngModelChange)="getAllUsers()" class="form-input">
          </mat-form-field>
        </div>

        <div>
          <div class="input-label">Role</div>
          <mat-form-field appearance="outline" class="filter-form">
            <mat-select
              [(ngModel)]="filters.role"
              (selectionChange)="getAllUsers()"
              class="form-input"
            >
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="empty-div"></div>

    <div class="reset-div">
      <button mat-button class="reset-button" (click)="resetFilters()">Reset filters</button>
    </div>
  </div>
</mat-card>

<mat-card class="table-card">
  <div class="container">

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><span>Name</span></th>
        <td mat-cell *matCellDef="let row" class="name-column"
        ><span class="ellipsis">{{ row.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef><span>Age</span></th>
        <td mat-cell *matCellDef="let row" class="name-column"
        ><span class="ellipsis">{{ row.age }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef><span>Email</span></th>
        <td mat-cell *matCellDef="let row" class="name-column"
        ><span class="ellipsis">{{ row.email }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef><span>Role</span></th>
        <td mat-cell *matCellDef="let row" class="name-column"
        ><span class="ellipsis">{{ row.role }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell
            (click)="$event.stopPropagation()"
            *matCellDef="let row"
            class="delete-column"
        >
          <button
            (click)="openDeleteUserDialog(row)"
            mat-icon-button
            [matTooltip]="'Delete user'"
            aria-label="Delete"
            matTooltipPosition="before"
          >
            <mat-icon
            >delete
            </mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let odd = odd; columns: displayedColumns"
          [ngClass]="{ 'gray-row': odd }"
          class="hovered-row"
      ></tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize"
                   (page)="pageChanged($event)"
                   showFirstLastButtons>
    </mat-paginator>
  </div>

</mat-card>
