<div class="dialog-margins">
  <div class="delete-item-dialog-title">
    <div class="title-label" *ngIf="newStatus === 'bought'">
      Buy products
    </div>
    <div class="title-label" *ngIf="newStatus === 'reserved'">
      Reserve products
    </div>
    <div class="title-label" *ngIf="newStatus === 'cancelled'">
      Cancel products
    </div>
    <div class="empty-div"></div>
    <div class="close-button">
      <button mat-icon-button mat-dialog-close class="dialog-close-button">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="dialog-content">
    Are you sure you want to change status of products from {{this.currentStatus}} to {{this.newStatus}}?
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
    <button mat-raised-button (click)="changeProductsStatus()" class="delete-device-button">Confirm</button>
  </div>
</div>
