<div [formGroup]="form">
  <h1 mat-dialog-title class="dialog-title">Welcome to Hot Movies Center</h1>

  <h2 mat-dialog-title class="dialog-subtitle">Register to Continue</h2>

  <div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <div
          *ngIf="nameControl.touched && nameControl.hasError('required')" class="error">
          Name is required!
        </div>
      </div>
    </div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input type="number" matInput placeholder="Age" formControlName="age">
        </mat-form-field>
        <div
          *ngIf="ageControl.touched && ageControl.hasError('required')" class="error">
          Age is required!
        </div>
        <div
          *ngIf="ageControl.touched && !ageControl.hasError('required') && ageValue() <= 0" class="error">
          Age must be a positive number!
        </div>
        <div
          *ngIf="ageControl.touched && !ageControl.hasError('required') && ageValue() > 0 && !checkIfInteger()" class="error">
          Age must be an integer number!
        </div>
      </div>
    </div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input matInput placeholder="Email Address" formControlName="email">
        </mat-form-field>
        <div
          *ngIf="usernameControl.touched && usernameControl.hasError('required')" class="error">
          Username is required!
        </div>
        <div
          *ngIf="usernameControl.touched && !usernameControl.hasError('required')
           && usernameControl.hasError('pattern')" class="error">
          Please insert a valid email!
        </div>
      </div>
    </div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input matInput [type]="hide ? 'password' : 'text' " placeholder="Password" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          *ngIf="passwordControl.touched && passwordControl.hasError('required')" class="error">
          Password is required!
        </div>
        <div
          *ngIf="passwordControl.touched && !passwordControl.hasError('required') && passwordControlLength() < 5" class="error">
          Password is too short!
        </div>
      </div>
    </div>

    <div class="content">
      <div>
        <mat-form-field appearance="outline" class="mat-form">
          <input matInput [type]="hideRe ? 'password' : 'text' " placeholder="Re-type password" formControlName="rePassword">
          <button mat-icon-button matSuffix (click)="hideRe = !hideRe">
            <mat-icon>{{hideRe ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div
          *ngIf="rePasswordControl.touched && rePasswordControl.hasError('required')" class="error">
          Password is required!
        </div>
        <div
          *ngIf="rePasswordControl.touched && !rePasswordControl.hasError('required') && rePasswordControlLength() < 5" class="error">
          Password is too short!
        </div>
        <div
          *ngIf="rePasswordControl.touched && !rePasswordControl.hasError('required') && rePasswordControlLength() >= 5 && passwordControl.value !== rePasswordControl.value" class="error">
          Password is not the same!
        </div>
      </div>
    </div>

    <div class="content">
      <button mat-raised-button [disabled]="!form.valid || rePasswordControlLength() < 5 || rePasswordControlLength() < 5
                                     || passwordControl.value !== rePasswordControl.value || ageValue() <= 0
                                     || !checkIfInteger()" class="submit-button"
              (click)="registerAndGoToLogin()">Register</button>
    </div>
    <div class="content">
      <label class="register-option">You have an account? Click <a routerLink="login" class="register-color" (click)="openLoginDialog()">Sign in</a></label>
    </div>

  </div>
</div>

