.dialog-title {
  color: #00133F;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.dialog-subtitle {
  color: gray;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

.mat-dialog-title {
  border-bottom: 2px solid #839DC3
}

.mat-form {
  width: 300px;
}

.username-label, .password-label {
  color: #3E5F8D;
  font-weight: 500;
}

.error{
  margin-top: -20px;
  margin-bottom: 10px;
  color: red;
  width: 300px;
}

.submit-button {
  font-size: 20px;
  width: 300px;
  height: 60px;
  cursor: pointer;
}

.message-style{
  padding-left: 10px;
}

.register-padding{
  padding-top: 10px;
}

.content{
  justify-content: center;
  display: flex;
  padding-top: 10px;
}

.password-align{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.register-option{
  color: gray;
  padding-bottom: 20px;
}

.register-color{
  color: limegreen;
}

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: limegreen;
  --mdc-protected-button-label-text-color: white;
}

::ng-deep .mat-mdc-select-value{
  color: #213555;
}


