<div class="display-cards">
  <mat-card class="general-details-card-1">
   <!-- <ngx-charts-pie-chart
      [results]="ticketsNrdata">
      <ng-template #tooltipTemplate let-model="model">
        <h1>
          {{model.name}}
        </h1>
        <h2>{{model.value}}%</h2>
      </ng-template>
    </ngx-charts-pie-chart>-->
  </mat-card>

  <!--<mat-card class="general-details-card-2">
    <div>
      <ngx-charts-bar-vertical
        [view]="[700, 400]"
        [results]="chart2"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>
    </div>
  </mat-card>-->
</div>

