.feedback-toolbar {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.success .message-icon {
  padding-right: 10px;
  color: #a8f0c6;
}

::ng-deep .success .mdc-snackbar__label{
  background-color: green;
}

.error .message-icon {
  padding-right: 10px;
  color: #f7a7a3;
}

::ng-deep .error  .mdc-snackbar__label{
  background-color: red;
}

::ng-deep .mdc-snackbar__surface{
  padding-right: 0;
}
