.page-content{
  margin-bottom: 100px;
}

.filter-card{
  min-height: 156px;
  margin: 24px;
}

.title-style{
  font-size: 21px;
  color: #213555;
  font-weight: bold;
  margin-right: 12px;
  float: left;
  padding-left: 24px;
}

.search-box {
  color: #213555;
  font-size: 16px;
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.search-box input {
  padding-left: 15px;
  margin-right: 24px;
  border-radius: 20px;
  border: 2px solid #CBDAF0;
  background-color: #f8f9ff;
  width: 250px;
  height: 30px;
  color: #213555;
}
.search-box input:focus{
  outline: none !important;
  border:2px solid #CBDAF0;
  opacity: 0.5;
}

.search-box input { text-indent: 25px;}
.search-box .fa-search {
  position: absolute;
  top: 7px;
  left: 10px;
}
.search-box .fa-search-close {
  position: absolute;
  top: 7px;
  left: 235px;
  color: #213555;
}

.header-style{
  display: inline-flex;
}

.title-and-filter-icon{
  padding-top: 15px;
}

.filter-list{
  color: #DC4E2A;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-bubble.notification {
  background: #E72A2A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.line-style{
  padding-bottom: 25px;
  border-bottom: 2px solid #CBDAF0;
}

.input-label {
  margin: 10px 0 0 20px;
  color: #3E5F8D;
  font-size: 18px;
}

.state{
  margin-top: 10px;
}

.filter-form {
  font-size: 14px;
  margin-left: 20px;
  padding: 0;
}

.filter-state-form {
  font-size: 18px;
  margin-left: 20px;
  padding: 0;
}

.form-input{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.reset-button {
  color: #DC4E2A;
  border: solid #DC4E2A;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 30px 0 30px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-div{
  align-items: flex-end;
  align-content: center;
  text-align: center;
  margin-right: 24px;
  position: absolute;
  right: 0;
}

.forms-display, .movies-display{
  display: inline-flex;
  flex-wrap: wrap;
}

.mat-form-field {
  flex: 1 1 calc(20% - 40px);
  margin-right: 20px;
}

::ng-deep .mat-mdc-select-value{
  color: #213555;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #213555;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 32px;
}

.filters-row{
  display: flex;
  justify-content: space-between;
}

.empty-div, .filters{
  align-items: flex-start;
}

.movie-card {
  margin: 24px;
  padding-bottom: 24px;
  min-height: 250px;
  width: 430px;
}

.movie-poster{
  padding-left: 20px;
  padding-top: 30px;
  height: 230px;
  width: 200px;
}

.movie-details{
  align-self: flex-start;
  display: inline-flex;
}

.main-details{
  padding-top: 30px;
  padding-left: 20px;
}

.movie-name{
  color: #213555;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 40px;
  display: inline-block;
  text-decoration: underline;
}

.movie-name:hover{
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

.movie-age, .movie-genre{
  color: #213555;
  font-size: 16px;
  font-weight: 600;
}

.movie-note{
  padding-top: 30px;
  color: #213555;
  font-size: 16px;
  font-weight: 600;
}

.movie-rating{
  color: #213555;
  font-size: 16px;
  font-weight: 600;
}

.times-display{
  display: inline-flex;
  padding-top: 20px;
}

.time-style{
  background-color: #DC4E2A;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
}

.movie-content{
  display: flex;
  justify-content: space-between;
}

.filter-style{
  padding: 6px 10px 6px 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #213555;
  text-align: center;
  width: 100px;
  display: block;
}

.filter-label{
  font-size: 16px;
  font-weight: bold;
  color: white;
}
